<html>

<head>

    <title>Angular</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>

<body ng-app="LunchCheck">
    <br><br>
    <h1> MenuCart</h1>
    <div ng-controller="LunchCheckController">

        <div>
            Enter your menu<br><br>
            <input type="text" ng-model="n" size="55" placeholder="Enter your dishes comma separated"><br><br>
        </div>

        <div>
            <button ng-click="menu();">Check If Too Much</button>
          
            I do not consider an empty item ie.,(', ,')

        </div>
        <div>

            {{val}}
        </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>


</html>
